@import url(http://fonts.googleapis.com/css?family=Arvo|Poiret+One|Quicksand:400,700|Lobster);
/*
blue a2d7d8
green bfe1bf
gray ededea
yellow fcd059
red de5842
*/
body {
  margin: 0; }

h1 {
  font-family: 'Arvo', serif;
  font-size: 48px; }

@media (max-width: 400px) {
  h1 {
    font-size: 36px; } }

h2 {
  font-family: 'Quicksand', sans-serif;
  text-align: center; }
  h2 a {
    color: inherit;
    text-decoration: none; }
    h2 a:hover {
      color: inherit;
      text-decoration: underline; }

p, h3, h4, h5, li {
  color: #888888;
  font-family: 'Quicksand', sans-serif; }

input[type=text] {
  font-family: 'Arvo', serif;
  font-size: 18px; }

.text-blue, .text-blue--hover:hover, .text-blue--active:active {
  color: #a2d7d8; }

.text-green, .text-green--hover:hover, .text-green--active:active {
  color: #bfe1bf; }

.text-yellow, .text-yellow--hover:hover, .text-yellow--active:active {
  color: #fcd059; }

.text-red, .text-red--hover:hover, .text-red--active:active {
  color: #de5842; }

.text--center {
  text-align: center; }

body {
  background: #f9f9f9; }

nav a {
  text-align: center;
  color: #c9c9c9;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%; }

.nav--full {
  width: 100%; }

.nav--full a {
  width: 20%;
  padding: 24px 0;
  border-bottom: 1px solid #e4e4e4; }

.nav--groups .row, .nav--stack a {
  border-bottom: 1px solid #e4e4e4; }

.nav--groups a {
  padding: 2px 0;
  border-right: 1px solid #e4e4e4; }

.nav__toggle a {
  cursor: pointer; }

.nav--stack, .nav--groups {
  display: none; }

.nav--stack .nav__items {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out; }

.nav--stack--show .nav__items {
  max-height: 200px; }

@media (max-width: 900px) {
  .nav--groups {
    display: block; }
  .nav--full {
    display: none; } }

@media (max-width: 550px) {
  .nav--groups {
    display: none; }
  .nav--stack {
    display: block; } }

nav a.active {
  color: #888888; }

nav a:hover {
  color: #888888; }

.login form {
  margin-top: 24px; }

.intro {
  text-align: center;
  margin-top: 48px; }

.intro__title h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px; }

.intro__date {
  font-family: 'Quicksand', sans-serif; }

.greeting {
  text-align: center; }

.greeting {
  font-family: 'Arvo', serif;
  font-size: 42px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

input.error {
  border-color: #de5842;
  background: #ffe1e6;
  transition: all 0.1s linear; }

input.error:focus {
  border-color: #de5842; }

@media (max-width: 550px) {
  .greeting {
    font-size: 36px; } }

@media (max-width: 400px) {
  .greeting {
    font-size: 33px; } }

.page {
  margin-top: 48px; }

.page .page__title {
  width: 100%;
  padding: 128px 0;
  text-align: center;
  color: #f9f9f9; }

.page--venue .page__title {
  background: #a2d7d8; }

.page--accommodation .page__title {
  background: #bfe1bf; }

.page--gifts .page__title {
  background: #fcd059; }

.page--ps .page__title {
  background: #de5842; }

.dodford-layout img {
  width: 100%; }

@media (max-width: 900px) {
  .dodford-layout {
    display: none; } }

#invitation .row {
  margin-top: 48px; }

.poem {
  font-family: 'Lobster', cursive; }
