@import url(http://fonts.googleapis.com/css?family=Arvo|Poiret+One|Quicksand:400,700|Lobster);

/*
blue a2d7d8
green bfe1bf
gray ededea
yellow fcd059
red de5842
*/

body {
    margin: 0;
}

h1 {
    font-family: 'Arvo', serif;
    font-size: 48px;
}

h1.page-title {
    width: 100%;
    padding: 12px 0;
    text-align: center;
}

input[type=text] {
    font-family: 'Arvo', serif;
    font-size: 18px;
}

.text-blue {
    color: #a2d7d8;
}
.text-green {
    color: #bfe1bf;
}
.text-yellow {
    color: #fcd059;
}
.text-red {
    color: #de5842;
}

.text-blue--hover:hover {
    color: #a2d7d8;
}
.text-green--hover:hover {
    color: #bfe1bf;
}
.text-yellow--hover:hover {
    color: #fcd059;
}
.text-red--hover:hover {
    color: #de5842;
}

.text-blue--active.active {
    color: #a2d7d8;
}
.text-green--active.active {
    color: #bfe1bf;
}
.text-yellow--active.active {
    color: #fcd059;
}
.text-red--active.active {
    color: #de5842;
}

body {
    background: #f9f9f9;
}

nav a {
    text-align: center;
    color: rgb(201, 201, 201);
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}

.nav--full {
    width: 100%;
}

.nav--full a {
    width: 20%;
    padding: 24px 0;
    border-bottom: 1px solid #e4e4e4;
}

.nav--groups .row, .nav--stack a {
    border-bottom: 1px solid #e4e4e4;
}

.nav--groups a {
    padding: 2px 0;
    border-right: 1px solid #e4e4e4;
}

.nav__toggle a {
    cursor: pointer;
}

.nav--stack, .nav--groups {
    display: none;
}

.nav--stack .nav__items {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.nav--stack--show .nav__items {
    max-height: 200px;
}

@media (max-width: 900px) {
    .nav--groups {
        display: block;
    }
    .nav--full {
        display: none;
    }
}

@media (max-width: 550px) {
    .nav--groups {
        display: none;
    }

    .nav--stack {
        display: block;
    }
}

nav a.active {
    color: rgb(136, 136, 136);
}

nav a:hover {
    color: rgb(136, 136, 136);
}

.login form {
    margin-top: 24px;
}

.greeting {
    text-align: right;
}
.greeting {
    font-family: 'Quicksand', sans-serif;
    font-size: 42px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

input.error {
    border-color: #de5842;
    background: rgb(255, 225, 230);
    transition: all 0.1s linear;
}

input.error:focus {
    border-color: #de5842;
}


@media (max-width: 550px) {
    .greeting {
        font-size: 36px;
    }
}

@media (max-width: 400px) {
    .greeting {
        font-size: 33px;
    }
}
